﻿@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>Call sinch</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdn.sinch.com/latest/sinch.min.js"></script>
    <script src="~/js/recorder.js"></script>
    <script src="~/js/Sinch/SpeechSeparator.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div id="call">
            <br />
            <div>
                <h4>Phone Number</h4>
                <input type="text" id="phoneNumber" value="+79999999999" />
                <button id="hangupCall" style="display: none">Hangup</button>
                <button id="callNumber">Call</button>
                <div id="status"></div>
            </div>
            <br />
            <div class="soundsOptionsContainers">
                <h5>Threshold</h5>
                <input class="soundsOtionsInputs" type="text" id="threshold" value="-65" />
            </div>
            <div class="soundsOptionsContainers">
                <h5>Interval</h5>
                <input class="soundsOtionsInputs" type="text" id="interval" value="50" />
            </div>
            <div class="soundsOptionsContainers">
                <h5>Volume Сhange</h5>
                <input class="soundsOtionsInputs" type="text" id="volumeСhange" value="-100" />
            </div>
            <div class="soundsOptionsContainers">
                <h5>FFT Size (Multiple 64)</h5>
                <input class="soundsOtionsInputs" type="text" id="fftSize" value="64" onchange="onFftChanged(this)" />
            </div>
            <br />
            <br />
            <div>
                <h4>API Key</h4>
                <input class="botOptionsInputs" type="text" id="apiKeyInput" value="AIzaSyBz2R8E7Mt9O0CSMPCJHNgCRO9S2IW4Hgw" />
            </div>
            <br />
            <div>
                <h4>JSON Path</h4>
                <input class="botOptionsInputs" type="text" id="jsonPathInput" value="manuscript-v2-cd355a7f6ac0.json" />
            </div>
            <br />
            <div>
                <h4>Project ID</h4>
                <input class="botOptionsInputs" type="text" id="projectIdInput" value="manuscript-v2" />
            </div>
            <audio id="incoming" autoplay></audio>
            <audio id="ringtone" src='~/ringback.wav' loop></audio>
            <audio id="receiver" autoplay></audio>
            <audio id="testAudio"></audio>
            <audio id="answerAudio" autoplay></audio>
            <div class="spectr"></div>
        </div>
        <div class="col-md-12" id="error"></div>
    </div>

    <style>
        .soundsOtionsInputs {
            width: 40px;
        }

        .botOptionsInputs {
            width: 500px;
        }

        .soundsOptionsContainers {
            display: inline-block;
            padding-right: 74px;
        }
    </style>

    <script language="javascript">
        var separator = new SpeechSeparator();
        var ctx = new AudioContext();
        var compressor = ctx.createDynamicsCompressor();
        var destination = ctx.createMediaStreamDestination();
        const testAudioElem = $("#testAudio")[0];
        var song = ctx.createMediaElementSource(testAudioElem);
        song.connect(compressor);
        var callClient;
        var callFlag = false
        var signInObj = {};
        var call;
        var speechSeparatorOptions = {
            threshold: -65,
            interval: 50,
            volumeСhange: -100,
            fftSize: 64,
            gainValue: 0.5,
            smoothing: 0,
            audioStream:
            {
                parse: true,
                downloadAudioExcerpts: true,
                callback: (base64) => {
                    AudioExcerptHandler(base64);
                }
            }
        };

        function onFftChanged(ev) {
            let currentVal = parseInt($(ev).val());
            if (Number.isInteger(currentVal / 64) && separator.analyser)
            {
                $(ev).val(currentVal);
                separator.analyser.fftSize = currentVal;
            }
            else
            {
                $(ev).val(64);
                alert("This FFT Size is not multiple 64 or analyser is not defined!");
            }
        }

        function ReadInputAudioStream(inputStream) {
            //var separator = new SpeechSeparator();
            var listener = separator.listenToStream(inputStream, speechSeparatorOptions);

            listener.on('speaking', () => {
                console.log("speaking");
            });
            listener.on('stopped_speaking', (base64) => {
                console.log(`stopped_speaking: ${base64}`);
            });
        }
        var sinchClient = new SinchClient({
            applicationKey: "a9934bd7-fd40-4ca5-8c8e-372e3644913b",
            capabilities: { calling: true },
            onLogMessage: message => {
                console.log(message);
            }
        });
        signInObj.username = "gavrilov.ga@glloop.com";
        signInObj.password = "d34c8212";
        initAudioElem();

        sinchClient
            .start(signInObj, () => {
                showUI();
            })
            .fail(handleError);

        $("#callNumber").click((event) => {
            event.preventDefault();
            callClient = sinchClient.getCallClient();
            $("#callNumber").attr("disabled", "disabled");
            $("#phoneNumber").attr("disabled", "disabled");
            $("#hangupCall").show();
            try {
                call = callClient.callPhoneNumber($("#phoneNumber").val(), {}, destination.stream);
                call.addEventListener(callListeners);
                callFlag = true;
            } catch (ex) {
                callFlag = false;
            }
        });
        $("#hangupCall").click((event) => {
            event.preventDefault();
            call && call.hangup();
        });
        var callListeners = {
            onCallProgressing: (call) => {
                $("#ringtone").prop("currentTime", 0);
                $("#ringtone").trigger("play");
                $("#status").append('<div id="stats">Ringing...</div>');
            },

            onCallEstablished: (call) => {
                document.getElementById("receiver").srcObject = call.incomingStream;
                $("audio#ringtone").trigger("pause");
                ReadInputAudioStream(call.incomingStream);
                var callDetails = call.getDetails();
                $("#status").append(
                    '<div id="stats">Answered at: ' +
                    new Date(callDetails.establishedTime) +
                    "</div>"
                );
            },

            onCallEnded: (call) => {
                if (callFlag) {
                    callFlag = false;
                    $("audio#ringtone").trigger("pause");
                    $("audio#incoming").attr("src", "");
                    $("#callNumber").removeAttr("disabled");
                    $("input#phoneNumber").removeAttr("disabled");
                    $("#hangupCall").hide();
                    var callDetails = call.getDetails();
                    $("#status").append(
                        '<div id="stats">Ended: ' +
                        new Date(callDetails.endedTime) +
                        "</div>"
                    );
                    $("#status").append(
                        '<div id="stats">Duration (s): ' + callDetails.duration + "</div>"
                    );
                    $("#status").append(
                        '<div id="stats">End cause: ' + callDetails.endCause + "</div>"
                    );
                    if (call.error) {
                        $("div#callLog").append(
                            '<div id="stats">Failure message: ' +
                            call.error.message +
                            "</div>"
                        );
                    }
                }
            }
        };
        var handleError = (error) => {
            $("button#createUser").prop("disabled", false);
            $("button#loginUser").prop("disabled", false);
            $("#error").text(error.message);
            $("#error").show();
        };
        var clearError = () => {
            $("#error").text("");
            $("#error").show();
        };
        var showUI = () => {
            $("#auth").hide();
            $("#call").show();
        };

        // Regular microphone listener. Required to test the system without using calls
        //navigator.getUserMedia({ video: false, audio: true }, (stream) => {
        //    var mic = ctx.createMediaStreamSource(stream);
        //    mic.connect(compressor);
        //    compressor.connect(destination);
        //    ReadInputAudioStream(stream);
        //}, (error) => {
        //    console.log(error);
        //});

        function AudioExcerptHandler(base64) {
            var startRecordTime = new Date();
            $.ajax({
                url: `/Dialogflow/SendAudio/?projectId=${$("#projectIdInput").val()}&apiKey=${$("#apiKeyInput").val()}&jsonPath=${$("#jsonPathInput").val()}`,
                type: "POST",
                data: JSON.stringify({ "strByteArray": base64 }),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done((audioResult) => {
                console.log("ready to play");
                $("#answerAudio")[0].setAttribute('src', "data:audio/wav;base64," + audioResult.audioContent);


                testAudioElem.setAttribute('src', "data:audio/wav;base64," + audioResult.audioContent);
                testAudioElem.load();
                console.log(`${new Date() - startRecordTime} ms`);
            });
        }
        function initAudioElem() {
            testAudioElem.id = `AnswerId${Date.now()}`;
            testAudioElem.preload = "auto";
            testAudioElem.addEventListener('canplay', _ => {
                console.log('audio can play');
                testAudioElem.play();
            });
            testAudioElem.onended = () => {
                console.log("audio is ended!");
            }
            testAudioElem.onplaying = () => {
                console.log("audio playing!");
            }
        }
    </script>
    <style>
    </style>
</body>